@model IEnumerable<HRmanagement.Models.Employee>
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Gender
        </th>
        <th>
            Join Date
        </th>
        <th>
            Birth Date
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    @foreach (var e in Model)
    {
<tr>
    <td>
        @e.Name
    </td>
    <td>
        @e.Address
    </td>
    <td>
        @e.Gender
    </td>
    <td>
        @e.Doj.ToString(HRmanagement.BLL.FormatConverter.StandardDateFormat)
    </td>
    <td>
        @e.Dob.ToString(HRmanagement.BLL.FormatConverter.StandardDateFormat)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", "Employees", new { employeeID = e.ID })
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", "Employees", new { EmployeeId = @e.ID })
    </td>
</tr>
    }
</table>